#table {
    display: flex;
    width: 43%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 70px;
}

.tile {
    width: 40px;
    height: 40px;
    background-color: beige;
    margin: 2px;
    border-radius: 10px;
}

